body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-color {
  border: 1px solid #000;
  color: #000;
}

.btn-color:hover {
  background-color: #000;
  color: white !important;
}

.text-color {
  color: #000 !important;
  font-weight: 500;
}

.hover-text:hover {
  color: #fff !important;
}

.icon-color:hover {
  color: #fff !important;
}
